.challenge-obstacle {
  &-left {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), 50% 100%, 0 calc(100% - 10px));
    padding: map-get($spacers, 2) map-get($spacers, 2) map-get($spacers, 3) map-get($spacers, 2);
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    @include media-breakpoint-up('md') {
      clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 50%, calc(100% - 10px) 100%, 0 100%);
      padding: map-get($spacers, 3) map-get($spacers, 4) map-get($spacers, 3) map-get($spacers, 3);
      border-top-left-radius: $border-radius;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: $border-radius;
      font-weight: $font-weight-bold;
    }
  }

  &-right {
    clip-path: polygon(0 0, 50% 10px, 100% 0, 100% 100%, 0 100%);
    padding: map-get($spacers, 3) map-get($spacers, 2) map-get($spacers, 2) map-get($spacers, 2);
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    @include media-breakpoint-up('md') {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 10px 50%);
      padding: map-get($spacers, 3) map-get($spacers, 3) map-get($spacers, 3) map-get($spacers, 4);
      border-top-left-radius: 0;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      border-bottom-left-radius: 0;
      font-weight: $font-weight-bold;
    }
  }
}
