.text-sm {
  font-size: $font-size-sm;
}

.text-lg {
  font-size: $font-size-lg;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.dropdown-item {
  border-bottom: 1px solid $white;
}

.cursor-pointer {
  cursor: pointer;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .w-#{$breakpoint}-auto {
      width: auto !important;
    }
  }
}
