$enable-responsive-font-sizes: true;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.5,
  2: $spacer,
  3: $spacer * 1.5,
  4: $spacer * 2,
  5: $spacer * 2.5,
  6: $spacer * 3,
  7: $spacer * 3.5,
  8: $spacer * 4,
);
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-lg: 1.125rem;
$font-weight-bold: 600;
$headings-font-weight: $font-weight-bold;
$body-color: #3c3c3c;
$info: #088380;
$secondary: #8e2082;
$warning: #ffc200;
$success: #ab43a0;
$white: #fff;
$btn-font-weight: $font-weight-bold;
$btn-border-width: 2px;
$dropdown-link-active-color: $body-color;
$dropdown-link-active-bg: $warning;
$tooltip-padding-y: $spacer;
$tooltip-padding-x: $spacer;
$tooltip-opacity: 1;
$tooltip-color: $body-color;
$tooltip-bg: $white;

@import '~bootstrap/scss/bootstrap';

@import 'card-wrapper';
@import 'challenges-obstacles';
@import 'persona-images';
@import 'utils';
