$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.5,
  2: $spacer,
  3: $spacer * 1.5,
  4: $spacer * 2,
  5: $spacer * 2.5,
  6: $spacer * 3,
  7: $spacer * 3.5,
  8: $spacer * 4,
);
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-lg: 1.125rem;
$font-weight-bold: 600;
$headings-font-weight: $font-weight-bold;
$body-color: #3c3c3c;
$info: #088380;
$secondary: #8e2082;
$warning: #ffc200;
$success: #ab43a0;
$btn-font-weight: $font-weight-bold;
$btn-border-width: 2px;
$dropdown-link-active-bg: $secondary;

@import '~bootstrap/scss/bootstrap';

.text-sm {
  font-size: $font-size-sm;
}

.text-lg {
  font-size: $font-size-lg;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.dropdown-item {
  border-bottom: 1px solid $white;
}

.cursor-pointer {
  cursor: pointer;
}
